body{
    text-decoration:none;
   margin:0px;
   padding:0px;
   background-color:rgba(50, 50, 104, 0.507)
    
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:5px;

}
.box1,.box2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    padding:5px;
    /* margin-left:35%; */
    margin:20px;
    width:35%;
    height:auto;
    border:2px solid aqua;
    border-radius:8px

}
.button{
    display:flex;
    justify-content:center;
    margin:3px;
    padding:2px;
    width:100%;
    height:30px;
}
.quantity{
    padding:3px;
    width: fit-content;
  height: auto;
  position: absolute;
  z-index:10;
  top:0;
    left:20px;
}
input{
    /* width:100% */
    width: 100%;
  height: 20px;
  padding: 5px;
  border:1px solid #ccc;
  border-radius:8px;

}
input:focus{
    border-color:aqua;
    box-shadow:0 0 5px rgba(0, 123, 255, 0.5);
}
